html
  head
    title MB-input
  body
    link(rel="stylesheet",type="text/css",href="/style.css")
    h1=header
    p=info
    form(method='GET',action='/',id="form")
      input(type='submit', value="ok")
