html
  include include/html_head.pug
  body
    link(rel="stylesheet",type="text/css",href="/style.css")
    h1 Login
    form(method='POST',action='/login')
      input(type='text' name='login_name')
      input(type='submit' value="login")
