html
  include include/html_head.pug
  body
    link(rel="stylesheet",type="text/css",href="/style.css")
    include include/head.pug
    
    
    table(class="standard")
        tr
            each val in plans.header
                th=val
        each val in plans.body
            tr
                each val2 in val
                    td
                        if val2['type']=='create'
                            form(method='POST', action='/plans')
                                input(type='hidden', name='group_plan_id', value=val2['group_plan_id'])
                                input(type='hidden', name='division_id', value=val2['division_id'])
                                input(type='submit', value='create')
                        else if val2['type']=='exists'
                            a(href='/plans/'+val2['id'])=val2['status']
                        else
                            =val2