header(class=header.plan && header.plan.state==1 ? 'review' : (header.plan && header.plan.state==2 ? 'sign' : ''))
 div(class='login_info')
  b=header.user+' '
  a(href='/logout') logout
  if header.is_admin
   br
   a(href='/admin') admin page
  if header.hide_plan_view_link==undefined
    br
    a(href='/plans/') Plan view

 if header.plan_id
    
  if header.plan.state == 0
   form(method='POST',action='/plans/'+header.plan_id+'/review')
    input(type='hidden', value='PUT', name='_method')
    input(type='submit', value="review" class="review")
   if header.is_admin
    form(method='POST',action='/plans/'+header.plan_id+'/sign')
     input(type='hidden', value='PUT', name='_method')
     input(type='submit', value="sign" class="sign")

  else if header.plan.state == 1 && header.is_admin
   form(method='POST',action='/plans/'+header.plan_id+'/work')
    input(type='hidden', value='PUT', name='_method')
    input(type='submit', value="work")
   form(method='POST',action='/plans/'+header.plan_id+'/sign')
    input(type='hidden', value='PUT', name='_method')
    input(type='submit', value="sign" class="sign")
    
  else if header.plan.state == 2 && header.is_admin
   form(method='POST',action='/plans/'+header.plan_id+'/work')
    input(type='hidden', value='PUT', name='_method')
    input(type='submit', value="work")
   form(method='POST',action='/plans/'+header.plan_id+'/review')
    input(type='hidden', value='PUT', name='_method')
    input(type='submit', value="review" class="review")

  form(method='POST',action='/reload')
   input(type='submit', value="reload", class="reload")

 h1=header.title
 div(class='end')
