* { font-family: Arial, Helvetica, sans-serif;}
a { color: #900; }
body { padding:0; margin:0; }
input { width:100px; height:20px; }
h2{font-size:18px; padding:0;margin:10px 10px 10px 10px; color: #333; }
h3{font-size:14px; padding:0;    margin: 20px 5% 0 5%; }
header h1 { margin:0; padding:8px; font-size:22px; padding-bottom:0; float:left; }
header { background: #f8f8f8; border-bottom: 1px solid #ddd; }
header .end{clear:both;width:0;height:0; }
table.input { margin:0; padding:0; width: auto; border-collapse: collapse; border-spacing: 0; width:100%; }
.login_info { font-size:11px; float:right; }
.standard_form { background: #eee; padding: 10px; display:block; margin: 20px 5% 0 5%;}
table.standard { border-collapse: separate; border-spacing: 0; padding: 0px; margin: 20px 5% 0 5%; width: 90%; }
table.standard form { padding:0; margin:0 }
table.standard th { padding:4px; background: #111; color: #eee; font-size: 12px; text-align:left; }
table.standard input { padding: 1px }
table.standard td { padding:4px; background: #ddd; font-size: 12px }
table.standard tr:nth-child(even) td { background: #eee }

table.standard td.review {background: #ddee33}
table.standard td.sign {background: #22ee22}
table.standard tr:nth-child(even) td.review { background: #ddff33 }
table.standard tr:nth-child(even) td.sign { background: #22ff22 }

table.plan { border-collapse: collapse; border-spacing:0; width:1900px }

table.plan input[type="text"] { text-align:center; background: #fff; border: 1px solid #888; border-radius: 3px; }
table.plan input[disabled=""] { background: #f3f3f3; color: #888; }

header.review { background: #ddee33; border-bottom: 1px solid #ccbb11; }
header.sign { background: #22ee22; border-bottom: 1px solid #ccbb11; }
header input[type=submit]{ background: #eee; padding: 7px; float:right; height: 30px; margin-top:5px; margin-right: 10px; }
header input[type=submit].review { background: #ddee33; }
header input[type=submit].sign { background: #22ee22; }

table.plan { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#575757; }

table tr.level0 th{font-size: 20px; border-bottom: 2px solid #000; padding:5px}
table tr.level0 td{font-size: 20px; border-bottom: 2px solid #000; padding:5px}

table tr.level1 th{font-size: 16px; margin-top:10px; border-left: 2px solid #ccc5ce; border-top: 2px solid #ccc5ce; border-bottom: 1px solid #ccc5ce; text-align:left; color: #111; padding:5px}
table tr.level1 td{font-size: 16px; margin-top:10px; border-top: 2px solid #ccc5ce; border-bottom: 1px solid #ccc5ce; text-align:left; color: #111; padding:5px; font-weight:bold; text-align:center}

table tr.level3 th{font-size: 14px; border-left: 2px solid #ccc5ce; font-weight:normal; text-align:left; padding: 8px; border-bottom: 2px solid #ddd; background: #f5f5f5}
table tr.level3 td{font-size: 14px; font-weight:bold; text-align:left; padding: 8px; text-align:center; border-bottom: 2px solid #ddd; background: #f5f5f5}

table tr.level5 th{font-size: 13px; border-left: 2px solid #ccc5ce; background: #ddd; text-align:left; padding: 5px}
table tr.level5 td{background: #ddd;}

table tr.level0 td{font-size: 18px; color:#000; font-weight:bold; text-align:center}

table.plan .header td{border-bottom: 2px solid #000}
table.plan .header th{border-bottom: 2px solid #000; padding:5px; color:#000; width: 130px}

table.plan .space td{height:10px; border-top: 3px solid #ccc5ce;}

.header th{width:120px}

table.plan .void { border:0 !important; background:none !important; }

[data-parent]{display:none}

table.plan .account div{white-space: nowrap; overflow:hidden; text-overflow: ellipsis; display:inline-block; width:390px}
table.plan .value{white-space: nowrap}

.header_account{width: 400px}
.header_space{width: 23px}

table.plan td{text-align:center}

input.error{background:#fcc !important}
