*{font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#575757}
.top th{border-bottom: 2px solid #575757}
table{
  border-collapse: collapse;
  border-spacing: 0;
  }
  
  td{min-width:10px}
  
  .sum th, .sum td{ background: #ffe8ff; border-bottom: 2px solid #ccc5ce }
  th{padding:8px}

  .sum th{border-left: 2px solid #ccc5ce;}
  
  th.header{border-left: 2px solid #ccc5ce; border-bottom: 1px solid #ccc5ce; border-top: 2px solid #ccc5ce; margin-top:20px; }
  
  td{border-bottom: 2px solid #f5ecf7; padding:8px;}
  tr:nth-child(even) td{background:#fff9ff;}

   tr.sum:nth-child(even) td{background:#ffe8ff;}

  .edge{border-left: 2px solid #ccc5ce;}
  
  .void{border:0 !important; background:none !important}
  
  .top{border-top: 2px solid #ccc5ce }
  
  .sum td{font-weight:bold; text-align:center}